<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('includes/head_styles.ejs'); %>
    <%- include('includes/head_scripts.ejs'); %>
</head>
<body>
    <%- include('includes/header.ejs'); %>
    <h1>Estas en Mostrar Usuarios</h1>
    <table border="5px">
		<tr>
			<th>Rut</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
			<th>Clave</th>
			<th>Tipo</th>
		</tr>
	<%
	for (var i = 0; i < usuarios.length; i++) {
	%>
		<tr>
			<td><%=usuarios[i].rut%></td>
			<td><%=usuarios[i].nombre%></td>
            <td><%=usuarios[i].apellido%></td>
            <td><%=usuarios[i].email%></td>
            <td><%=usuarios[i].clave%></td>
            <td><%=usuarios[i].tipo%></td>
		</tr>
    <%
    }
    %>
	</table>
</body>
</html>