<header>
	<nav>
		<ul>
			<li><a href="<%=url%>">Inicio</a></li>
			<li><a href="<%=url%>/usuario/iniciar-sesion">Iniciar Sesión</a></li>
			<li><a href="<%=url%>/usuario/crear">Crear Usuario</a></li>
			<li><a href="<%=url%>/producto/crear">Crear Producto</a></li>
			<li><a href="<%=url%>/categoria/crear">Crear Categoria</a></li>
			<li><a href="<%=url%>/usuario/mostrar">Mostrar Usuarios</a></li>
			<li><a href="<%=url%>/producto/mostrar">Mostrar Productos</a></li>
			<li><a href="<%=url%>/categoria/mostrar">Mostrar Categorias</a></li>
			<li><a href="<%=url%>/usuario/panel-cliente">Panel Cliente</a></li>
			<li><a href="<%=url%>/usuario/panel-administrador">Panel Administrador</a></li>
		</ul>
	</nav>
</header>